/* Estilos globales */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0;
    background: linear-gradient(hwb(211 79% 1%), hsl(212, 84%, 75%), hsl(212, 90%, 54%));
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
  }
  
  #stopwatch {
    position: absolute;
    top: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: wheat;
    border-radius: 2rem;
    border: 2px solid black;
    padding: .5rem 1rem;
    z-index: 2;
    width: fit-content;
    text-align: center;
  }
  
  #imagen {
    background-color: rgb(255, 212, 157);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px rgb(255, 0, 0) dotted;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: absolute;
    top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #imagen > img {
    width: 100%;
    height: 100%;
  }
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .show-time {
    width: 400px;
    padding: 8rem;
    animation: fade 2s ease-in-out;
  }
  
  #imagen2 {
    color: rgb(255, 72, 0);
    background-color: rgb(247, 241, 188);
    border-radius: 10px;
    padding: 0 2rem;
    position: absolute;
    z-index: 3;
    top: 20rem;
    left: 6rem;
  }
  
  #crono {
    font-size: 2rem;
  }
  
  #radial-menu {
    position: relative;
    width: 70vw;
    height: 70vw;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    margin-top: 20rem;
    background-color: rgba(47, 0, 255, 0.342);
    border: 2px dashed rgba(0,0,0,0.2);
    animation: rotate 3s ease-in-out;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
  
  .card {
    position: absolute;
    width: 15vw;
    height: 15vw;
    max-width: 100px;
    max-height: 100px;
    background-color: rgb(255, 146, 43);
    border-radius: 50%;
    border: 3px dotted rgb(172, 0, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: background-color 0.3s;
  }
  
  .card:hover {
    background-color: rgba(218, 243, 104, 0.8);
  }
  
  .card:active {
    background-color: rgba(81, 236, 247, 0.8);
  }
  
  .card > img {
    width: 80%;
    height: auto;
    margin-bottom: 5px;
  }
  
  h2 {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #fff;
  }

  ol {
    margin: 0;
    padding: 0 0.5rem;
    margin-left: 1rem;

  }
  
  @media (max-width: 600px) {
    #stopwatch {
      font-size: 1.5rem;
      padding: 0.8rem 1.5rem;
    }
    .card {
      text-transform: uppercase;
    }
    #imagen2 {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 31rem;
      left: 7.5rem;
    }
    #crono {
      font-size: .7rem !important;
    }
    h2 {
      font-size: 0.7rem;
    }
  }
  